body {
  background: black;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

nav {
  width: 20%;
  height: 100%;
  background: red;
  margin-right: 1em;
  overflow: hidden;
  border: 3px solid brown;
}

nav ul {
  padding: 0;
  margin: 0;
}

a {
  color: blue;
  text-decoration: none;
}

li, li a {
  list-style: none;
  width: 100%;
  display: inline-block;
  color: black;
}

a:hover, li a:hover {
  text-decoration: underline;
}

nav ul li {
  background: #ddd;
}

nav ul li a {
  padding: 5px;
}

nav ul li ul a {
  background: #bbb;
  padding: 5px;
  padding-left: 15px;
}

nav ul hr {
  margin: 0;
}

main {
  width: 50%;
  background: #ddd;
  border: 3px solid brown;
}

main img {
  width: 50%;
  margin: auto;
  display: block;
}

h1, h2, h3 {
  text-align: center;
}

p {
  text-align: justify;
  margin-left: 2em;
  margin-right: 2em;
}

p span {
  font-family: monospace;
  font-size: 1.2em;
  background-color: #bbb;
  padding-left: .2em;
  padding-right: .2em;
}
