body {
  background: black;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

nav {
  width: 20%;
  background: red;
  margin-right: 1em;
  overflow: hidden;
  border: 3px solid brown;
}

nav ul {
  padding: 0;
  margin: 0;
}

li, li a {
  list-style: none;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: black;
}

li a:hover {
  text-decoration: underline;
}

nav ul li {
  background: #ddd;
}

nav ul li a {
  padding: 5px;
}

li ul a {
  background: #bbb;
  padding: 5px;
}

nav ul hr {
  margin: 0;
}

main {
  width: 50%;
  background: #ddd;
  border: 3px solid brown;
}

h1, h2, h3 {
  text-align: center;
}

p {
  text-align: justify;
  margin-left: 2em;
  margin-right: 2em;
}
